.Home-header {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: Black;
}

.Home-button-register {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: blue;
}

.Home-button-login {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: green;
}

.homepage-bgimage {
  background: url("img.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
