.Main-car-list {
  overflow: scroll;
  position: fixed;
  width: 72%;
  height: 96.5%;
  left: 0px;
  top: 50px;
  background-color: rgb(185, 185, 185);
}

.Main-car-info {
  display: inline-block;
  width: 312.5px;
  padding: 10px;
}

.Main-car-info-image {
  width: 100%;
}

.Main-place-order-panel {
  overflow: scroll;
  position: fixed;
  width: 27%;
  height: 100%;
  right: 0px;
  font-weight: bold;
  top: 50px;
  padding: 10px;
  background-color: rgb(139, 139, 139);
}

.Main-place-order-panel-car {
  display: inline-block;
  width: 480px;
  padding: 10px;
}

.Main-place-order-panel-car-image {
  width: 100%;
}
